<div class="gray-blue-background-color main-footer-div">
  <div class="sub-footer-div">
    <div>
      <a class="nav-link classic-a" [routerLink]="'.'">Accueil</a>
      <a class="nav-link classic-a" [routerLink]="'/articles'">Articles</a>
    </div>
    <div class="vr"></div>
    <div>
      <a class="nav-link classic-a" [routerLink]="'/contact-me'">Contact</a>
      <a *ngIf="!isUserAuthenticated" class="nav-link classic-a" [routerLink]="'/authentication/connect'">Se connecter</a>
      <a *ngIf="isUserAuthenticated" class="nav-link classic-a" (click)="logout()">Se déconnecter</a>
    </div>
  </div>
  <div>
    <p>2023 Copyrights © Maël Mininger</p>
  </div>
</div>
