/* You can add global styles to this file, and also import other style files */
.main-orange-background {
  background-color: #e84c3d;
}

.blue-font-color {
  color: #536170;
}

.fake-white-background {
    background-color: #F4F4F4;
}
