/* You can add global styles to this file, and also import other style files */
.main-orange-background {
  background-color: #e84c3d;
}

.blue-font-color {
  color: #536170;
}

.fake-white-background {
    background-color: #F4F4F4;
}

.gray-blue-background-color {
  background-color: #DBDEE7;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-div {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  max-width: 100%;
  padding: 1em;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-primary {
  background-color: #e84c3d;
  border-color: #e84c3d;
}
